# macOS
.DS_Store

# Xcode user-specific
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Xcode build
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# CocoaPods (unused, kept for safety)
Pods/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
